.calendar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calendar-controls{
    display: flex;
    flex-direction: row;
    height: 100px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 0.5rem;
}

.calendar > div {
  display: flex;
  padding: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #2a2a2a;
}

.calendar > div:hover {
  background-color: #2a2a2a;
}