.event {
  width: 80%;
  max-height: 18px;
  font-size: 0.7rem;
  border-radius: 999px;
  background-color: #1f1f1f;
  color: #eaeaea;
  padding: 4px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border: 1px solid rgba(255,255,255,0.06);
}

.event:hover {
  background-color: #262626;
}
