# fly.toml app configuration file generated for analyst-gpt on 2025-12-27T18:47:04Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'analyst-gpt'
primary_region = 'dfw'

[build]

[env]
  DATABASE_PATH = '/data/database.db'

[processes]
  app  = "uvicorn app.main:app --host 0.0.0.0 --port 8000"
  cron = "supercronic /app/crontab"

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
