#root {
  margin: 0 auto;
  padding: 2rem;
}

.summary-list{
  max-width: 1280px;
  max-height: 1800px;
  padding: 10px;
  overflow: auto;
}

.header{
   background: linear-gradient(
    180deg,
    #2e2e2e 0%,
    #242424 100%
  );
  padding: 14px 24px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #f2f2f2;
  border-bottom: 1px solid #3a3a3a;
}